@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    color: #000;
    display: flex;
    justify-content: center;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    color: rgb(83, 83, 224);
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-youtube:hover {color: rgb(83, 83, 224);}
.fa-tiktok:hover {color: rgb(83, 83, 224);}
.fa-instagram:hover {color: rgb(83, 83, 224);}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width: 800px){
    nav {
        color: #000;
        display: flex;
        justify-content: space-between;
    }
    
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: rgb(83, 83, 224);
        font-size: 1.6rem;
    }

    .icons i {
        display: inline-block;
        padding: 12px;
    }
}
